@-moz-document regexp('https://msdn.microsoft.com/.*/library/.*'),regexp('https://.*technet.microsoft.com/.*') {
/*Simple Modern Dark MSDN Library userstyle v1.6
https://userstyles.org/styles/131684
https://github.com/Zeeex/Simple-Modern-Dark-MSDN-Library*/

body {
    color: #fff;
    background-color: #000;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
}
/* Normal text */

p {
    color: #fff;
}
/* Main header */

h1,
h1.title,
.topic h1.title {
    color: #fff;
}
h2 {
    color: #35ff8b !important;
}
h3 {
    color: #35ff8b !important;
}
/*Top Bar Background*/

div.shell-header {
    background: rgba(255, 255, 255, 0);
}
#shell-header .shell-header-nav li a {
    color: #ffffff!important;
}
.shell-header-dropdown-label>a {
    background-color: rgba(255, 255, 255, 0);
}
.shell-header-dropdown-label a:hover,
.shell-header-dropdown-label a:focus,
.shell-header-dropdown-label a:active {
    background-color: rgba(82, 195, 232, 0.3);
}
div.msame_Header_name {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}
.msame_open .msame_Header {
    background-color: rgba(255, 255, 255, 0);
}
.breadCrumb,
.breadCrumb>span>a,
.breadCrumb>span>a:link,
.breadCrumb>span>a:hover,
.breadCrumb>span>a:visited {
    color: #fff;
}
/* Table Header */

div.alert th {
    background-color: #3b3b3b;
    color: #ffffff;
}
th {
    background-color: #3b3b3b;
    color: #ffffff;
}
/* Right Navigation */

div#rightNavigationMenu div#indoc_toc ul#indoc_toclist li.active a {
    color: #35ff8b;
}
div#rightNavigationMenu div#indoc_toc ul#indoc_toclist li.active {
    border-left: solid 3px #35ff8b;
}
div#rightNavigationMenu>div a:visited {
    color: #a0a0a0;
}
/* Black buttons background */

#navigationButtons ins.print {
    background-color: #35ff8b;
}
#navigationButtons ins.export {
    background-color: #35ff8b;
}
#navigationButtons ins.share {
    background-color: #35ff8b;
}
#vsPanel {
    background-color: #2d2d2d;
}
.LW_CollapsibleArea_TitleDiv DIV a:link,
.LW_CollapsibleArea_TitleDiv DIV a:hover,
.LW_CollapsibleArea_TitleDiv DIV a:visited,
.LW_CollapsibleArea_TitleDiv DIV a:focus {
    background-color: #35ff8b;
}
/* Collapsible headers */

h1.heading,
h2,
h2.heading,
h2.subheading,
h3,
h3.subheading,
h4,
h4.subheading,
h5,
h5.subheading,
.LW_CollapsibleArea_Title {
    color: #fff;
}
/* End: Collapsible headers */
/* Version of .NET framework under the main header */

#curversion {
    color: #9b9b9b;
}
/* TECHNET FIXES==================================== */

.communityContentAnnotation {
    color: #fff;
}
#megabladeContainer #megabladeContainerCenter #megabladeMainMenu {
    color: #fff;
}
#megabladeContainer #megabladeContainerCenter.active #megabladeMainMenu,
#megabladeContainer #megabladeContainerCenter #megabladeMainMenu:hover {
    background-color: rgba(241, 241, 241, 0);
}
#megabladeItems>li>a {
    background-color: #000000;
    color: #fff;
}
#megabladeContainer #megabladeContainerCenter.active ul#megabladeItems li.bladeItemWithMenu.active div.navpage {
    background-color: #000;
    color: #fff;
}
#ux-header a,
#ux-header a:visited {
    color: #35ff8b;
}
#megabladeItems>li.active>a {
    background-color: #575757;
}
#ux-header .ux-nav a,
.ux-nav a:link,
.ux-nav a:visited {
    color: #fff;
    background: inherit;
}
/*blogs.technet======================*/

#page {
    background: rgba(255, 255, 255, 0);
}
.widget_tag_cloud a {
    background-color: #616161;
}
#site-footer {
    display: none;
}
button,
input,
optgroup,
select,
textarea {
    color: #000;
}
#site-header-global {
    background: white;
}
/*social.technet====================*/

#BodyBackground {
    background: rgba(240, 248, 255, 0);
}
.Masthead {
    background-color: white;
}
h1,
.title {
    color: #ffffff!important;
}
li.message {
    background-color: rgba(255, 255, 255, 0);
}
.pln {
    color: #fff;
}
#quickLinks #quickLinksText span {
    color: #fff;
}
.messageContent .messageFooter .date {
    color: #ffffff;
}
div.section p,
div.helpbubble p,
div.helpbubble ul {
    color: inherit;
}
a.author>abbr {
    color: inherit;
}
div.unified-baseball-card,
.unified-baseball-card-compact,
.unified-baseball-card-hover div.unified-baseball-card {
    background-color: #848484;
}
.unified-baseball-card-mini .profile-mini {
    color: #fff;
}
.unified-baseball-card-mini .profile-mini .profile-mini-points {
    color: #fff;
}
#msdn-technet-en-thread #threadPageContainer li.message div.menu.thread,
#msdn-technet-en-thread #threadPageContainer li.message div.menu.message,
div.expandedThreadContainer li.message div.menu.thread,
div.expandedThreadContainer li.message div.menu.message {
    background-color: rgba(255, 255, 255, 0);
}
#MainContent a,
#MainContent a:link,
#MainContent a:visited {
    color: #35ff8b;
}
ul.history>li>span.type {
    color: #fff;
}
ul.history>li>span.date {
    color: #fff;
}
.searchbar .searchboxinnercontainer,
#relatedThreadsLinkContainer,
#announcementsContainer {
    background-color: rgba(255, 255, 255, 0);
}
div#msdn-technet-en-thread div#threadPageContentContainer {
    border-left: 3px solid #35ff8b;
}
div.answers>h3,
div.replies>h3 {
    border-top: solid 2px #35ff8b;
}
div.replies {
    border-top: none;
}
div#nrSurvey {
    display: none;
}
#Footer {
    display: none;
}
/*END TECHNET====================================*/

a:link {
    color: #35ff8b;
}
a:hover,
a:visited {
    color: #92a69b;
}
/* Links */

.topic a,
.topic a:link {
    color: #35ff8b;
}
.topic a:visited,
.topic a:active,
.topic a:hover {
    color: #92a69b;
}
/* Navigation links */

div#leftNav a,
div#leftNav a:link,
div#leftNav a:visited {
    color: #35ff8b;
}
/* Expanded navigation section */
/* Current navigation section */

div#tocnav div.tocselected {
    background-color: #000;
    border-left: 3px solid #35ff8b;
    padding-left: 12px;
    border-width: 4px;
}
div#tocnav div.tocselected a,
div#tocnav div.tocselected a:link,
div#tocnav div.tocselected a:visited {
    color: #a0a0a0;
    text-decoration: none;
    padding-left: 12px;
}
div#tocnav div.tocunselected a,
div#tocnav div.tocunselected a:link,
div#tocnav div.tocunselected a:hover,
div#tocnav div.tocunselected a:focus,
div#tocnav div.tocunselected a:visited {
    color: #ffffff;
}
div#rightNavigationMenu>div a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
div#rightNavigationMenu div#indoc_toc div#indoc_title {
    color: #fff;
    font-weight: 600;
}
div#rightNavigationMenu div#indoc_toc ul#indoc_toclist li {
    color: #fff;
    font-weight: 600;
}
/* Description of members of a class */

td {
    color: #dcdcdc;
}
/* Ordinary code color */

[style*="Black"] {
    color: #dcdcdc !important;
}
/* Keywords */

[style*="Blue"] {
    color: #569cd6 !important;
}
/* Comments */

[style*="Green"] {
    color: #57a64a !important;
}
/* String literals */

[style*="A31515"] {
    color: #d69d85 !important;
}
/* Inline code */

.code {
    color: #4ec9b0 !important;
}
/* Fixes Alert Box*/

div.alert {
    background-color: rgba(255, 255, 255, 0);
    color: #a0dfe4 !important;
    font-style: italic;
}
/* Removes Feedback Bar */

.stdr-container>.stdr-vote {
    display: none;
}
/* Hide Footer */

div#ux-footer {
    display: none;
}
/* Archive Bar */

#archiveDisclaimer {
    display: none;
}}
